#block-menu-menu-footer-sub-menu {
  // border-top: 1px solid darken($primary_1, 10%);
  background-color: #014E51;

  .content {
    @include breakpoint(large_tablet) {
      padding-top: rem(38px);
      padding-bottom: rem(38px);
      display: flex;
      justify-content: space-between;
      align-content: center;
    }

    ul.menu {
      @include breakpoint(tablet) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(15px);
      }

      @include breakpoint(large_tablet) {
        order: 2;
        text-align: right;
        width: auto;
        display: block;
        margin-bottom: 0;
      }

      &>li {
        margin-bottom: rem(15px);

        @include breakpoint(large_tablet) {
          display: inline-block;
          margin-left: rem(15px);
        }

        @include breakpoint(desktop) {
          margin-left: rem(30px);
        }

        a {
          font-weight: 400;
        }
      }
    }

    .footer-copyright {
      @include breakpoint(large_tablet) {
        order: 1;
      }
    }
  }
}
