body.campaign-2018 {
  background: $black;
  color: $white;

  #block-govcms-social-links-services,
  .view-home-page-blog-articles .view-content .views-row .node,
  .view-latest-news .view-content .views-row .node,
  .view-whats-new-grid .view-content .views-row .node,
  .pane-whats-new-grid,
  .bean-basic-content {
    background: $black;
    color: $white;

    &>.content p {
      color: $white;
    }
  }

  #block-govcms-social-links-services .inner-wrapper h2,
  #block-govcms-social-links-services .inner-wrapper .display,
  .view-whats-new-grid .view-header h2,
  .view-whats-new-grid .view-header .display,
  .field-name-body {
    color: $white !important;
  }

  .region-footer,
  #block-menu-menu-footer-sub-menu,
  .view-slideshow .banner-description-panel,
  .region-navigation {
    background: none !important;
  }

  .view-whats-new-grid .view-content .views-row .node-readmore a,
  .view-online-alerts .view-content .views-row .node-readmore a,
  .view-slideshow .banner-description-holder .field a,
  #block-webform-client-block-8912 .form-actions .webform-submit,
  #content [type='submit'] {
    color: $black;
    background: $white;
  }

  .view-whats-new-grid .view-content .views-row .node-readmore a,
  .view-online-alerts .view-content .views-row .node-readmore a,
  #block-webform-client-block-8912 .form-actions .webform-submit,
  #content [type='submit'] {
    &:hover {
      box-shadow: 0px 14px 14px 0px rgba(255, 255, 255, 0.25), 0px 10px 5px 0px rgba(255, 255, 255, 0.22);
    }
  }

  .header {
    background-image: none;
  }

  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .node-alert.priority-level-moderate:before,
  .node-alert.priority-level-high:before,
  .node-alert.priority-level-low:before,
  blockquote:before {
    background-color: $white;
  }

  .node-alert.priority-level-moderate .field-name-field-priority-level .field-items,
  .node-alert.priority-level-high .field-name-field-priority-level .field-items,
  .node-alert.priority-level-low .field-name-field-priority-level .field-items,
  .profile h3,
  .profile dl,
  .content-body .content,
  .social-share-links h2,
  .date-display-single,
  .region-sidebar-first .block>h2,
  .region-sidebar-first .block>.display,
  .field-name-field-introduction,
  .pane-online-alerts .pane-title {
    color: $white;
  }

  .region-navigation .block-superfish ul.sf-menu {
    >li {
      &.sfHover {
        >a {
          background-color: $neutral_4;
          color: $black;
        }
      }

      >a {
        &:hover {
          background-color: $white;
          color: $black;
        }

        &:focus {
          background-color: $white;
          color: $black;
        }
      }

      &.active-trail {
        >a {
          background-color: $white;
          color: $black;
        }
      }

      ul {
        li {
          a {
            background-color: $white;
            color: $black;

            &:hover {
              background-color: $neutral_3;
              color: $black;
            }
          }
        }
      }
    }
  }

  .view-slideshow .slider-controls button:hover,
  .view-slideshow .slider-controls button:focus {
    background-color: $neutral_2 !important;
  }

  .content-header .breadcrumbs ul li:last-child {
    color: $white;
  }

  #block-menu-block-second-nav-menu ul.menu li a {
    color: $white;

    &.active {
      background-color: $white;
      color: $black;
    }

    &:hover {
      background-color: $neutral_2;
    }

    &:focus {
      background-color: $neutral_2;
    }
  }

  #block-menu-block-second-nav-menu>.content {
    border-left: 0.3rem solid $white;
  }

  #block-menu-block-second-nav-menu .menu-block-wrapper>ul>li>ul>li>a {
    background-color: $sso_neutral_11;
    color: $black;
  }

  #block-menu-block-second-nav-menu .menu-block-wrapper>ul>li>ul>li>ul>li>a {
    background-color: $neutral_4;
    color: $black;
  }

  #block-menu-block-second-nav-menu ul.menu li button.sidebar-toggle-menu {
    background-color: $black;

    &:hover {
      background-color: $neutral_2;
    }
  }

  .social-share-links li {
    a {
      background-color: $white;

      &:hover {
        background-color: $neutral_3;
      }
    }
  }

  #block-webform-client-block-8912 {
    background-color: $black;

    label {
      color: $white;

      &.option {
        color: $white;
      }
    }

    form.webform-client-form .form-item {
      color: $white;
    }

    .form-item-submitted-page-helpful {
      label:before {
        border-color: $white;
      }
    }
  }

  #block-bean-sso-related-content ul>li {
    a {
      color: $black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #block-menu-block-land-pg-child-list-2>.content .node {
    background-color: $black;
  }

  .view-latest-news {
    .views-row {
      .node-news-article {
        background-color: transparent !important;
      }

      .node-readmore {
        a {
          background-color: $white !important;
          color: $black !important;

          &:hover {
            box-shadow: 0px 14px 14px 0px rgba(255, 255, 255, 0.25), 0px 10px 5px 0px rgba(255, 255, 255, 0.22) !important;
          }
        }
      }
    }
  }

  @include breakpoint(mobile) {
    .view-slideshow .banner-description-holder {
      background-color: $black;
    }

    .mobile-nav ul.links li a {
      background-color: $white;
      color: $black;
    }
  }

  @include media($mobile-only) {
    .view-slideshow .banner-description-holder {
      background-color: $black;
    }

    .mobile-nav ul.links li a {
      background-color: $white;
      color: $black;
    }
  }
}


.content-table tr:nth-child(even),
.field-name-body table tr:nth-child(even),
form.webform-client-form .webform-component-grid table.webform-grid tr:nth-child(even) {
  background: none;
}

.content-body .content .toc-filter-content {
  h3 {
    color: $white;
  }

  background: none;
}

// Image treatment exception
.page-node-9206 {
  .view-id-partners img {
    -webkit-filter: none;
    filter: none;
  }
}
