// =========================================================
// LANDING PAGE LISTING
// Borrows heavily from _listing.scss
// =========================================================
.node-type-landing-page #content {
  .no-sidebar {
    #block-menu-block-land-pg-child-list-2 {
      @include center-column($desktop_column);
      .node {
        @include breakpoint(tablet) {
          @include span-columns(4 of 12);
        }
        &:nth-child(3n) {
          @include breakpoint(tablet) {
            @include omega();
          }
        }
        &:nth-child(3n+1) {
          @include breakpoint(tablet) {
            clear: both;
          }
        }
      }
    }
  }
  .has-sidebar {
    #block-menu-block-land-pg-child-list-2 {
      max-width: $desktop_content_column;
      .node {
        @include breakpoint(tablet) {
          @include span-columns(6 of 12);
        }
        &:nth-child(2n) {
          @include breakpoint(tablet) {
            @include omega();
          }
        }
        &:nth-child(2n+1) {
          @include breakpoint(tablet) {
            clear: both;
          }
        }
      }
    }
  }
  .field-name-field-feature-image {
    img {
      height: auto;
    }
  }
}

#block-menu-block-land-pg-child-list-2 {
  &>h2 {
    @include visually-hidden;
  }
  &>.content {
    @include breakpoint(tablet) {
      @include outer-container(100%);
    }
    .node {
      @include listing-component-wrapper;
      padding-left: 0;
      padding-right: 0;
      .content {
        padding: 0;
      }
      &.has-thumbnail {
        padding-top: $listing_component_image_height;
        .field-type-image {
          @include listing-component-image;
          margin-top: 0;
          margin-bottom: 0;
          .field-item:nth-child(n + 2) {
            display: none;
          }
        }
        h2 {
          margin-top: rem(30px);
        }
      }
      &>.links {
        li {
          padding-left: 0;
        }
      }
      h2 {
        @include listing-component-heading;
        margin-top: 0;
      }
      .field-name-body {
        @include listing-component-body;
      }
    }
  }
}
