// =========================================================
// LISTING
// The default style for content views.
// =========================================================
// A generic view layout for sidebar / no sidebar types.
// This should be applied to the body of pages you wish to show a generic view on.
@mixin generic-view-layout() {
  .no-sidebar {
    .content-body-inner-pane {
      .page__title {
        @include center-column($desktop_column);
      }
    }
    .view {
      @include center-column($desktop_column);
    }
    .views-row {
      @include breakpoint(tablet) {
        @include span-columns(4 of 12);
      }
      &:nth-child(3n) {
        @include breakpoint(tablet) {
          @include omega();
        }
      }
      &:nth-child(3n+1) {
        .no-flexbox & {
          @include breakpoint(tablet) {
            clear: both;
          }
        }
      }
    }
  }
  .has-sidebar {
    .view {
      max-width: $desktop_content_column;
    }
    .views-row {
      @include breakpoint(tablet) {
        @include span-columns(6 of 12);
      }
      &:nth-child(2n) {
        @include breakpoint(tablet) {
          @include omega();
        }
      }
      &:nth-child(2n+1) {
        .no-flexbox & {
          @include breakpoint(tablet) {
            clear: both;
          }
        }
      }
    }
  }
  .view {
    .view-content {
      @include breakpoint(tablet) {
        @include outer-container(100%);
        display: flex;
        flex-wrap: wrap;
      }
      .views-row {
        .node {
          @include listing-component-wrapper;
          padding-left: 0;
          padding-right: 0;
          &.has-thumbnail {
            padding-top: $listing_component_image_height;
            .field-type-image {
              @include listing-component-image;
              .field-item:nth-child(n + 2) {
                display: none;
              }
            }
            h2 {
              margin-top: rem(30px);
            }
          }
          &>.links {
            li {
              padding-left: 0;
            }
          }
        }
        h2 {
          @include listing-component-heading;
          margin-top: 0;
        }
        .field-name-field-date, .submitted, .field-type-datetime {
          @include listing-component-subtext;
        }
        .field-name-body {
          @include listing-component-body;
        }
        .node-readmore {
          padding: 0;
          a {
            @include listing-component-button;
          }
        }
      }
    }
    .pager {
      margin-top: $default_padding;
      margin-bottom: $default_padding;
    }
  }
}

// Implementations of the generic view.
body.page-events, body.page-publications, body.page-news-media, body.page-news {
  #content {
    @include generic-view-layout;
  }
}
