#block-views-partners-block-1 {
  h2 {
    @include center-column($desktop_column);
  }
}

.view-partners.view-display-id-block_1 {
  @include center-column($desktop_column);
  @include clearfix;
  .view-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h2, h3 {
      width: 100%;
      font-size: rem(18px);
      @include breakpoint(tablet) {
        font-size: rem(24px);
      }
      @include breakpoint(desktop) {
        font-size: rem(36px);
      }
      .no-flexbox & {
        clear: both;
      }
    }
    .views-row {
      margin: 0;
      margin-bottom: rem(30px);
      box-sizing: border-box;
      text-align: center;
      padding-left: rem(16px);
      padding-right: rem(16px);
      width: 50%;
      .no-flexbox & {
        display: inline-block;
        min-height: rem(130px);
        float: left;
      }
      @include breakpoint(tablet) {
        width: 33.33%;
        padding-left: rem(25px);
        padding-right: rem(25px);
      }
      @include breakpoint(desktop) {
        width: 25%;
        padding-left: rem(42px);
        padding-right: rem(42px);
      }
      a {
        display: inline-block;
        img {
          height: auto;
          width: auto;
          max-height: rem(100px);
          .no-flexbox & {
            width: 100%;
          }
        }
      }
    }
  }
}
