.content-body {
  .content {
    .toc-filter-content {
      background-color: #E6F8F9;
      border: 2px solid #CCE4E5;
      border-radius: 4px;
      color: $neutral_1;
      padding: rem(27px) rem(29px);
      h2 {
        font-family: $varela_round;
        font-size: rem(18px);
        color: #014E51;
        letter-spacing: 0;
        margin-top: 0;
        margin-bottom: 0;
        &:after {
          content: '...';
        }
      }
      ul {
        padding: 0;
        &>li {
          margin: 0;
          list-style: none;
          padding-left: rem(30px);
          background-image: url(../images/svg/check--green.svg);
          background-repeat: no-repeat;
          background-position: left center;
          @include link-colours($sso_neutral_6, $secondary_3, $white);
        }
      }
    }
  }
}
