/*
Link styles
*/

// A base extend that provides the styling for icons at the end of a link.
%base-link-icon--after {
  content: '';
  position: absolute;
  display: inline;
  width: $medium-spacing;
  height: $medium-spacing;
  background-repeat: no-repeat;
  background-position: right $tiny-spacing;
  border-bottom: 1px solid transparent;
}

@mixin link-colours($text-colour, $hover-bg-colour, $hover-text-colour: $text-colour) {
  $link-disabled-colour: transparentize($text-colour, 0.3);
  color: $white;

  a:not(.no-style) {
    color: $white;
    text-decoration: none;
    outline: none;
    border-bottom: solid 1px $white;
    transition-timing-function: $transition-easing;
    transition-duration: $transition-timing-fast;
    transition-property: background-color, border-color, color;

    &:hover, &:focus {
      background-color: $white;
      color: $black;
      border-bottom-color: $white;
    }

    &[rel~='external'] {
      display: inline;
      position: relative;
      margin-right: $base-spacing;

      &:hover {
        border-color: transparent;
      }

      &::after {
        @extend %icon-external-link--aqua;
        @extend %base-link-icon--after;
        background-size: (0.75 * $medium-spacing) auto;
      }
    }
  }

  .see-more {
    display: inline-block;
    position: relative;
    margin-right: $base-spacing;
    font-weight: $heading-font-weight;
    color: $button-bg-colour;

    &::after {
      @extend %icon-arrow-right--aqua;
      content: '';
      position: absolute;
      top: 0;
      right: -($medium-spacing);
      display: block;
      width: $medium-spacing;
      height: $medium-spacing;
      background-repeat: no-repeat;
      background-position: right $tiny-spacing;
      background-size: (0.8 * $small-spacing) auto;
    }

    &:hover, &:focus {
      color: $hover-text-colour;
    }
  }

  span {
    &.placeholder-link {
      color: $link-disabled-colour;
      border-bottom: none;
      cursor: not-allowed;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
