// Search Result icons
//
// Markup: search-result.html
//
// Styleguide components.search-result

@import 'components/document-list/document-list';

.search-api-page-results {
  padding-left: 16px;
}

ol.search-results {
  padding-left: 0;
  .search-snippet-info {
    padding-left: 0;
  }
}

%search-result,
.search-result {
  padding: 0;
  background-image: none;

  @include breakpoint($medium) {
    padding: 1rem 0.5rem 1rem 0rem;
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin: 0 1rem .5rem 0;

    @include breakpoint($medium) {
      float: left;
    }
  }
}
